
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello welcome to text hendler</h1>
    <form action="second" method='post'>
        { %csrf_token% }

        <textarea name="text" id="" cols="30" rows="10"></textarea><br>
        <!-- <input type="text" name="text"> -->
        <input type="checkbox" name="rum1" id=""> Remove punctuations<br>
        <input type="checkbox" name="rum2"> capatialize<br>
        <input type="checkbox" name="rum3"> Remove spaces<br>
        <input type="checkbox" name="rum4" id=""> letter counter<br>
        <button type="submit">Submitt</button><br>

    </form>
</body>
</html>
